# Environment files
.env
.env.*
.env.php

# Dependencies
/node_modules
/vendor

# Compiled / Cache files
/bootstrap/compiled.php
/storage/*.key
/storage/debugbar
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# IDE / Editor files
.idea/
.vscode/
.nbproject/
.nbproject/private/
.vagrant/
Homestead.json
Homestead.yaml

# OS files
.DS_Store

# Logs
npm-debug.log
yarn-error.log

# Lock files (اختياري – شيلها لو حابب ترفعها)
composer.lock
package-lock.json
yarn.lock
*.lock

# Archives / Zips
*.zip
updates.zip
ecommerce.zip
install.zip
public/uploads.zip



# Temp
/temp
